body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}
@font-face {
  font-family: NewsTitle;
  src: url(assets/chomsky/dist/Chomsky.woff);
}
.container {
  width: 80%;
  margin: 0 auto;
}
#api {
  text-decoration: none;
  color: black;
  font-size: 10px;
}
img {
  width: 90%;
  height: auto;
}
h1 {
  font-family: 'NewsTitle';
  font-size: 250%;
  text-align: center;
  margin-top: 100px;
}
.link {
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 7px;
}
nav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}
nav > h5 {
  padding: 10px;
  cursor: pointer;
}
nav > h5:hover {
  background-color: #ddd;
  color: black;
}
.main-section {
  display: flex;
  justify-content: space-between;
}
.topHeader {
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.divide {
  border-left: 1.5px solid black;
}
.headlines {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.titles {
  border-top: 1px solid black;
  padding: 10px 0px;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  height: 30px;
}
.titles:hover {
  background: #ddd;
}
.mainArt {
  width: 45%;
}
.mainArt > p {
  margin-bottom: 15px;
}
.comment {
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 2px solid black;
}
.comments {
  border-top: 1px solid black;
}
#button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 15px;
}
textarea {
  font-family: Arial;
}
.commentHead {
  display: flex;
  align-items: center;
}
.commentHead > p {
  font-size: 14px;
  margin-left: 15px;
  opacity: .6;
}
