<div class="main-section" data-ng-init="ctrl.getUSNews()">

  <div class="mainArt">
    <img src="{{ctrl.news[0].urlToImage}}" alt="">
    <h6>{{ctrl.news[0].publishedAt | date: 'medium'}}</h6>
    <h2>{{ctrl.news[0].title}}</h2>
    <p>{{ctrl.news[0].description}}</p>
    <a href="{{ctrl.news[0].url}}">Go to Article</a>
  </div>

  <div class="divide">

  </div>

  <div class="headlines">
    <div class="topHeader">
      <h3>Top {{ctrl.page}} Headlines</h3>
    </div>
    <div class="titles" ng-repeat="article in ctrl.news | limitTo: 10">
      <h5>{{article.title}}</h5>
    </div>
  </div>

</div>
